/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: black;
}

#app {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: darkorange;
}

textarea {
    width: 100%;
    background-color: dodgerblue;
    margin-bottom: 10px;
    border: 3px solid rgb(48, 185, 13);
    box-shadow: 10px 10px 10px #000;
}

button {
    padding: 10px;
    cursor: pointer;
    color: aqua;
    border: 3px solid #ccc;
    background-color: darkolivegreen;
}

ul {
    list-style-type: none;
    padding: 1;
    border: 3px solid #00ffff;
    color: darkorange;
    text-shadow: -1px 1px 1px #000;
}

li {
 text-align: center;
    margin-bottom: 5px;
    padding: 10px;
    color: #0000ff;
    font-size: 15px;
    text-shadow: -1px 1px 1px #000;
}
